body {
    background-image: url(../img/body-bg.png);
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-main-logo {
    font-weight: bold;
font-size: 22px;
line-height: 22px;
color: #FFFFFF;
}

.header-text {
    
}